__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

*.log
events.out.tfevents*
runs/
logs/
tensorboard/

model_weight/
checkpoints/
outputs/
results/
vis/

*.pth
*.pt
*.ckpt

Dataset/
data/
LLD-MMRI/
2d_mri_body_dataset_mutil_phase_corp_body_v1/

.env
.venv/
venv/
env/
